.song-container {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.menu{
  text-align: center;
  font-size: 20px;
  color: white;
  position: relative;
  top: 200px;
}
.menu h1{
  font-size: 50px;
  font-weight: lighter;
  color: rgb(32, 197, 249);
}

.songs-index h1{
  color: rgb(32, 197, 249);
  font-size: 30px;
}

.instructions{
  font-weight: 100;
  font-size: 20px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  left: 400px;
}

.instruct-text{
  text-align: left;
}
.scoreboard{
  position: relative;
  top: 50px;
  font-size: 30px;

  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: left;
}
.score-items{
  width:900px;
  position:relative;
  margin-left: auto;
  margin-right: auto;
}
.scoreboard h1{
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
.songs{
  padding: 10px;
  margin-bottom: 20px;
  font-size: 30px;
}
.selected{
  color: rgb(32, 197, 249);
}

.feedback{
  text-align: center;
  font-size: 90px;
  color: white;
  position: relative;
  bottom: 450px;
}

.green{
  color: #38eb4f;
}

.red {
  color: #d93434;
}
.songs-index{
  text-align: center;
  position: relative;
  font-size: 20px;
  top: 50px;
  color: white;
}

.game-layer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #eee;
  text-align: center;
  background: rgba(0, 0, 0, .6);
}

.game-layer .beats {
  margin-top: 20%;
  display: inline-block;
  font-weight: 200;
  white-space: nowrap;
  width: 960px;
  height: 131px;
  text-align: left;
  position: relative;
}

.beats li {
  font-size: 40px;
  line-height: 112px;
  text-align: center;
  width: 70px;
  height: 120px;
  position: absolute;
  -webkit-animation: letter-slide 2.6s 1 linear; /* Safari 4+ */
  -moz-animation: letter-slide 2.6s 1 linear; /* Fx 5+ */
  animation: letter-slide 2.6s 1 linear;
  animation-fill-mode: forwards;
  opacity: 0.0;
}



@-webkit-keyframes letter-slide {
  0%   { right: 0; opacity: 0.0;}
  5%   { opacity: 1.0; }
  48%  { color: #ccc; font-size: 56px; }
  50%  { color: #0de0fc; font-size: 70px; }
  59%  { color: #0de0fc; font-size: 70px; }
  62%  { color: #ccc; font-size: 56px; }
  95%  { opacity: 1.0; }
  100% { right: 90%; opacity: 0.0; }
}

@keyframes letter-slide {
  0%   { right: 0; opacity: 0.0;}
  5%   { opacity: 1.0; }
  48%  { color: #ccc; font-size: 56px; }
  50%  { color: #0de0fc; font-size: 70px; }
  59%  { color: #0de0fc; font-size: 70px; }
  62%  { color: #ccc; font-size: 56px; }
  95%  { opacity: 1.0; }
  100% { right: 90%; opacity: 0.0; }
}
