.song-container {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.menu{
  color: white;
}
.songs-index{
  color: white;
}
.v{
  position: relative;
  bottom: 150px;
}

.d{
  position: relative;
  bottom: 75px;
}
.game-layer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #eee;
  text-align: center;
  background: rgba(0, 0, 0, .6);
}

.game-layer .beat-letters {
  margin-top: 20%;
  display: inline-block;
  font-weight: 200;
  white-space: nowrap;
  width: 960px;
  height: 131px;
  text-align: left;
  position: relative;
  /* letter scores rendered via absolute-position arrows */
}

.beat-letters li {
  font-size: 40px;
  line-height: 112px;
  text-align: center;
  width: 70px;
  height: 120px;
  position: absolute;
  -webkit-animation: letter-slide 2.6s 1 linear; /* Safari 4+ */
  -moz-animation: letter-slide 2.6s 1 linear; /* Fx 5+ */
  animation: letter-slide 2.6s 1 linear;
  opacity: 0.0;
}



/* KEYFRAM ANIMATIONS */
@-webkit-keyframes letter-slide {
  0%   { right: 0; opacity: 0.0;}
  5%   { opacity: 1.0; }
  48%  { color: #ccc; font-size: 56px; }
  50%  { color: #0de0fc; font-size: 70px; }
  59%  { color: #0de0fc; font-size: 70px; }
  62%  { color: #ccc; font-size: 56px; }
  95%  { opacity: 1.0; }
  100% { right: 90%; opacity: 0.0; }
}
@-moz-keyframes letter-slide {
  0%   { right: 0; opacity: 0.0;}
  5%   { opacity: 1.0; }
  48%  { color: #ccc; font-size: 56px; }
  50%  { color: #0de0fc; font-size: 70px; }
  59%  { color: #0de0fc; font-size: 70px; }
  62%  { color: #ccc; font-size: 56px; }
  95%  { opacity: 1.0; }
  100% { right: 90%; opacity: 0.0; }
}
@-o-keyframes letter-slide {
 0%   { right: 0; opacity: 0.0;}
 5%   { opacity: 1.0; }
 48%  { color: #ccc; font-size: 56px; }
 50%  { color: #0de0fc; font-size: 70px; }
 59%  { color: #0de0fc; font-size: 70px; }
 62%  { color: #ccc; font-size: 56px; }
 95%  { opacity: 1.0; }
 100% { right: 90%; opacity: 0.0; }
}
@keyframes letter-slide {
  0%   { right: 0; opacity: 0.0;}
  5%   { opacity: 1.0; }
  48%  { color: #ccc; font-size: 56px; }
  50%  { color: #0de0fc; font-size: 70px; }
  59%  { color: #0de0fc; font-size: 70px; }
  62%  { color: #ccc; font-size: 56px; }
  95%  { opacity: 1.0; }
  100% { right: 90%; opacity: 0.0; }
}
